body{
    background-color : rgba(37, 8, 75, 0.726);
    font-family: 'Lato',sans-serif !important;
    overflow-x: hidden;
    font-size: 20px;
  }
  
  nav,
  .card {
    -webkit-box-shadow: 0 3px 5px 0 rgba(1, 0, 0, 0.1);
    box-shadow: 0 3px 5px 0 rgba(1, 0, 1, 0.1);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    color: darkblue;
  }
  
  .badge {
      font-size: 1em;
  }
  .nav-link{
    color: rgb(147, 42, 165);
  }
  .card-text{
    color: #000;
  }