<nav class="navbar navbar-expand-md navbar-light bg-light mb-3 "style="font-size:medium">
    <div class="container">
        <a href="/" class="navbar-brand"style="font-size:medium" >Pitch app</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#menu"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/pitches/interview" class="nav-link">Interview</a></li>
                <li class="nav-item"><a href="/pitches/product" class="nav-link">Product</a></li>
                <li class="nav-item"><a href="/pitches/promotion" class="nav-link">Promotion</a></li>
                <li class="nav-item"><a href="/pitches/random" class="nav-link">Random</a></li>
                <li class="nav-item"><a href="/pitches/funny" class="nav-link">Funny</a></li>

            </ul>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item"><a href="{{url_for('main.profile',uname=current_user.username)}}" class="nav-link">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('auth.logout')}}">Sign out</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{url_for('auth.login')}}">Sign in</a></li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>
